pip>=9
setuptools>=26
wheel>=0.29
pytest
coverage
flake8
yapf
twine
gunicorn
streamlit
plotly
aiohttp
aiohttp-cors
aioredis
appdirs
appnope
argon2-cffi
astroid
async-generator
async-timeout
attrs
backcall
beautifulsoup4
black
bleach
blessings
bokeh
cachetools
certifi
cffi
chardet
click
cloudpickle
colorama
colorful
contractions
cycler
dask
deap
decorator
defusedxml
distributed
entrypoints
filelock
fsspec
gensim
gh
gitdb
GitPython
google
google-api-core
google-auth
googleapis-common-protos
gpustat
grpcio
HeapDict
hiredis
idna
imbalanced-learn
importlib-metadata
iniconfig
ipdb
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
langdetect
language-tool-python
lazy-object-proxy
locket
lxml
MarkupSafe
matplotlib
mccabe
mistune
modin
msgpack
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
numpy
nvidia-ml-py3
opencensus
opencensus-context
packaging
pandas
pandocfilters
parso
partd
pathspec
pexpect
pickleshare
Pillow
pluggy
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
py
py-spy
pyahocorasick
pyarrow
pyasn1
pyasn1-modules
pycparser
pyemd
Pygments
pylint
pyparsing
pyrsistent
pytest
python-dateutil
pytz
PyYAML
pyzmq
ray
redis
regex
requests
rsa
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
smart-open
smmap
sortedcontainers
soupsieve
stopit
swifter
tblib
terminado
testpath
textblob
textsearch
threadpoolctl
toml
toolz
tornado
TPOT
tqdm
traitlets
typed-ast
typing-extensions
Unidecode
update-checker
urllib3
wcwidth
webencodings
widgetsnbextension
WorkforceSentimentMonitoring
wrapt
xgboost
yarl
zict
zipp
